@use '../../scss/abstracts/' as *;
.container {
   margin: 0 auto;
   display: flex;
   @include breakpoint(tablet) {
      flex-direction: column;
      position: relative;
      padding: 15px;
      gap: 15px;
      width: 100vw;
   }
}
