@use '../../scss/abstracts/' as *;

.job_title_wrapper {
   display: flex;
   gap: 25px;
}
.job_title {
   color: $gray-darkest;
   font: $semibold20;
   letter-spacing: -0.4px;
}

.info_wrapper {
   display: flex;
   align-items: center;
   gap: 15px;
   height: 12px;
}

.single_info {
   //info
   color: $gray-dark;
   font: $regular12;
   border-right: 1px solid $gray-light;
   padding-right: 14px;
   margin: 0px;
}

.company_name {
   color: $gray-dark;
   font: $medium12;
   padding-right: 15px;
   border-right: 1px solid $gray-light;
}

.salary {
   color: $accent;
   font: $regular12;
}
.test {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
   height: 46px;
   padding: 24px;
}
.company_logo {
   padding: 24px 0px 24px 24px;
   width: 46px;
   height: 46px;
   flex-shrink: 0;
}
