@use '../../scss/abstracts/' as *;

.job_title_wrapper {
   display: flex;
   gap: 25px;
   @include breakpoint(tablet) {
      width: 345px;
      padding: 0;
   }
}
.job_title {
   color: $gray-darkest;
   font: $semibold20;
   letter-spacing: -0.4px;
}

.info_wrapper {
   display: flex;
   margin-top: 5px;
   gap: 15px;
   @include breakpoint(tablet) {
      position: relative;
   }
}

.single_info {
   color: $gray-dark;
   font: $regular12;
   border-right: 1px solid $gray-light;
   padding: 0px 14px;
   @include breakpoint(tablet) {
      border: none;
      padding: 0;
      //   padding-right: 15px;
      //   margin-right: 15px;
      white-space: nowrap;
      width: 100%;
      :nth-child(odd) {
         border-right: 1px solid #dadada;
      }
   }
}

.company_name {
   color: $gray-dark;
   font: $medium12;
   padding-right: 15px;
   border-right: 1px solid $gray-light;
   @include breakpoint(tablet) {
      border: none;
      padding-right: 0;
      white-space: nowrap;
      width: 100%;
   }
}

.salary {
   color: $accent;
   font: $regular12;
   @include breakpoint(tablet) {
      position: absolute;
      bottom: 0;
      left: -15px;
   }
}
.test {
   text-align: left;
}
.company_logo_desktop {
   @include breakpoint(tablet) {
      display: none;
   }
}
.company_logo_mobile {
   @include breakpoint(tablet) {
      height: 100%;
      margin-bottom: 40px;
   }
   @include breakpoint(desktop) {
      display: none;
   }
}
.box {
   @include breakpoint(tablet) {
      display: flex;
      flex-direction: row;
      gap: 14px;
   }
   @include breakpoint(desktop) {
      display: flex;
      flex-direction: row;
   }
}
.mobile_wrapper {
   display: flex;
   flex-direction: row;
   @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 45px;
   }
}
.line {
   @include breakpoint(tablet) {
      border-left: 1px solid $gray-light;
      background-color: #dadada;
   }
}
