@use '../../scss/abstracts/' as *;

.offers_counter {
   color: $gray-darkest;
   font-family: Poppins;
   font: $semibold16;
}
.offers_container {
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 24px;
   background-color: $gray-lightest;
   width: 877px;
   height: 1081px;
   flex-shrink: 0;
}
