@use '../../scss/abstracts/' as *;

.offers_counter {
   color: $gray-darkest;
   font-family: Poppins;
   font: $semibold16;
   text-align: start;
}
.offers_container {
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 24px;
   background-color: $gray-lightest;
   width: 877px;
   height: 1081px;
   flex-shrink: 0;
   @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      width: 100%;
   }
}
.search_container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.container {
   padding: 40px;
   @include breakpoint(tablet) {
      padding: 0px;
      background-color: salmon;
      width: 768px;
   }
}
