$white: #ffffff;
$gray-outline: #54545443;
$gray-light: #dadada;
$gray-dark: #545454;
$accent: #9564d4;
$gray-lightest: #f8f8f8;
$gray-medium: #bcbcbc;
$gray-darkest: #212121;
$accent-strong: #9564d4;
