$font: 'Poppins';
$semibold28: normal 600 28px $font;
$semibold24: normal 600 24px $font;
$semibold20: normal 600 20px/1.3 $font;
$semibold16: normal 600 16px $font;
$medium16: normal 500 16px/1.5 $font;
$medium14: normal 500 14px $font;
$regular14: normal 400 14px /1.3 $font;
$semibold12: normal 600 12px $font;
$medium12: normal 500 12px $font;
$regular12: normal 400 12px $font;
