@use '../../scss/abstracts/' as *;

.filter_section_wrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
   width: 500px;
}
.filter_section_title {
   color: $gray-darkest;
   font: $semibold12;
   text-align: left;
}
.filter_section_checkbox {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 16px;
}
