@use '../../scss/abstracts/' as *;

.background {
   position: absolute;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0, 0.2);
   width: 100%;
   height: 100%;
   z-index: 1000;
   padding: 40px 173px;
   @include breakpoint(tablet) {
      align-items: self-start;
      padding: 0;
      background-color: white;
   }
}
.container {
   position: relative;
   background-color: $white;
   height: 800px;
   border-radius: 5px;
   border: 1px solid $gray-light;
   width: 1094px;
   padding: 60px;
   @include breakpoint(tablet) {
      padding: 30px 16px 0 16px;
      border: none;
      border-radius: 0;
   }
}
.close_icon {
   width: 40px;
   height: 40px;
}
.button_close {
   cursor: pointer;
   position: absolute;
   right: 20px;
   top: 20px;
   width: 40px;
   height: 40px;
   background: none;
   border: none;
}
.headline_area {
   display: flex;
   gap: 20px;
   @include breakpoint(tablet) {
      flex-direction: column;
   }
}
.company_logo {
   width: 80px;
   height: 80px;
   @include breakpoint(tablet) {
      width: 40px;
      height: 40px;
      border: 1px solid red;
   }
}

.title_wrapper {
   display: flex;
   flex-direction: column;
   gap: 16px;
   @include breakpoint(tablet) {
      gap: 12px;
   }
}
.title {
   text-align: start;
   font: $semibold28;
   color: #000;
   @include breakpoint(tablet) {
      font: $semibold24;
   }
}
.technologies {
   color: $gray-dark;
   font: $regular14;
   line-height: 130%;
   text-align: start;
}
.description_area {
   display: flex;
   flex-direction: row;
   height: 583px;
   width: 100%;
   background-color: white;
   gap: 18px;
   margin-top: 24px;
   @include breakpoint(tablet) {
      flex-direction: column-reverse;
      height: 100%;
      margin-top: 16px;
      gap: 16px;
   }
}
.description_title {
   font: $semibold20;
   letter-spacing: -0.4px;
   line-height: 130%;
}
.description_text {
   text-align: start;
   font: $regular14;
   line-height: 170%;
}
.left_area {
   display: flex;
   flex-direction: column;
   gap: 14px;
   width: 553px;
   height: 503px;
   background-color: $gray-lightest;
   padding: 40px;
   color: $gray-dark;
   @include breakpoint(tablet) {
      width: 100%;
   }
}

.left_wrapper {
   display: flex;
   flex-direction: column;
   gap: 18px;
   @include breakpoint(tablet) {
      flex-direction: column-reverse;
      gap: 16px;
   }
}
.button_wrapper {
   background-color: $gray-lightest;
   align-items: center;
   justify-content: center;
}
.right_area {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 311px;
   padding: 30px;
   height: 438px;
   background-color: $gray-lightest;
   @include breakpoint(tablet) {
      width: 100%;
   }
}
.offer_button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 252px;
   padding: 10px 25px;
   justify-content: center;
   align-items: center;
   border-radius: 28px;
   background: $accent-strong;
   text-decoration: none;
   color: rgba(255, 255, 255, 1);
   font: $medium14;
   line-height: 100%;
   border: none;
   outline: none;
   cursor: pointer;
   margin: 16px 30px 17px 29px;
   @include breakpoint(tablet) {
      text-align: center;
   }
}
a {
   text-decoration: none;
   @include breakpoint(tablet) {
      display: flex;
      justify-content: center;
   }
}
.offer_button:hover {
   background-color: #370a64;
   text-decoration: none;
}
.line {
   border-top: 1px solid #dadada;
}
.description_item {
   display: flex;
   justify-content: space-between;
}
.list_element_header {
   font: $semibold12;
   color: $gray-darkest;
}
.data_item {
   font: $regular14;
   line-height: 130%;
   text-align: right;
   color: $gray-dark;
}
