@use '../../scss/abstracts/' as *;
.hidden {
   opacity: 0;
   width: 0;
   height: 0;
}
.checkbox {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   appearance: none;
}
.label {
   min-width: 100px;
   text-align: left;
   color: #000;
   color: $gray-darkest;
   font: $regular14;
   cursor: pointer;
   padding-bottom: 20px;
}
.checkbox_wrapper {
   display: flex;
   gap: 9px;
   width: 115px;
}
[aria-checked='true'] {
   left: 3px;
   bottom: 1px;
}
