@use '../../scss/abstracts/' as *;
.container {
   padding: 24px;
   border-radius: 5px;
   border: 1px solid $gray-light;
   background: $white;
   margin: 110px;
   width: 303px;
   @include breakpoint(tablet) {
      display: none;
   }
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header_title {
   font: $semibold16;
   letter-spacing: -0.8px;
}
.clear_button {
   cursor: pointer;
   font: $medium12;
   color: $accent-strong;
   border: none;
   background-color: transparent;
}
