@use '../../scss/abstracts/' as *;
.container {
   position: relative;
   background: $white;
   width: 797px;
   height: 100vh;
   position: relative;
   text-align: start;
   margin-top: 24px;
}

.list {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
   margin-top: 16px;
   list-style: none;
   background: $gray-lightest;
   @include breakpoint(tablet) {
      position: relative;
      max-height: 900px;
      overflow-y: auto;
   }
}
.offers_counter {
   color: $gray-darkest;
   font: $semibold16;
   letter-spacing: -0.8px;
}
.list_element {
   background-color: white;
   min-width: 800px;
   cursor: pointer;
   //    height: 92px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   border-radius: 5px;
   border: 1px solid $gray-light;
   padding: 24px;
   //    flex-shrink: 0;
   @include breakpoint(tablet) {
      min-width: 345px;
      position: relative;
      height: 184px;
      flex-shrink: 0px;
   }
}
.offer_date {
   color: $gray-dark;
   text-align: right;
   font: $regular12;
   //    padding: 24px;
   @include breakpoint(tablet) {
      align-self: self-end;
   }
}
